<div class="card">
  <div class="card">
    <p-button
      label="New Question"
      type="button"
      styleClass="p-button-success"
      (onClick)="onNew()"
      *ngIf="showNew"
    ></p-button>
  </div>
  <p-table [value]="questions" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Questions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-question>
      <tr>
        <td>
          <app-question-item
            [question]="question"
            [index]="question.id"
          ></app-question-item>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
